@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
.vs, footer, main, header, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock, .scissors, .paper {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: solid 1.25rem;
  margin: 1.875rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.875rem;
  background-color: white;
  border-radius: 50%;
}

.scissors::after, .paper::after, .rock::after {
  content: "";
  width: 18.75rem;
  height: 0.9375rem;
  z-index: -1;
  background-color: rgba(5, 0, 41, 0.816);
  position: absolute;
  display: block;
}

.scissorsPick, .paperPick, .rockPick {
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  background-color: white;
  border: 1.5625rem solid;
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
}

.vs, footer, main, header, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock, .scissors, .paper {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: solid 1.25rem;
  margin: 1.875rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.875rem;
  background-color: white;
  border-radius: 50%;
}

.scissors::after, .paper::after, .rock::after {
  content: "";
  width: 18.75rem;
  height: 0.9375rem;
  z-index: -1;
  background-color: rgba(5, 0, 41, 0.816);
  position: absolute;
  display: block;
}

.scissorsPick, .paperPick, .rockPick {
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  background-color: white;
  border: 1.5625rem solid;
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgb(11, 11, 42) 35%, rgb(65, 69, 145) 100%);
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  color: white;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

.scoreboard {
  width: 65%;
  max-width: 43.75rem;
  height: 6.25rem;
  border: solid 2px rgba(255, 255, 255, 0.311);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.625rem 0 0.93rem;
  position: fixed;
  top: 2.5rem;
}
.scoreboard .logo {
  width: 70%;
  margin-top: 0.5rem;
}
.scoreboard .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 3.75rem;
  width: 5rem;
  border-radius: 5px;
  padding: 0.625rem;
}
.scoreboard .score .score-title {
  color: rgb(0, 0, 199);
  font-size: 0.625rem;
  letter-spacing: 2px;
  font-weight: 800;
}
.scoreboard .score .score-number {
  color: rgb(90, 90, 90);
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.rock-paper-scissors {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.top-rps {
  display: flex;
  justify-content: space-between;
  width: 28.125rem;
}

.paper {
  border-color: rgb(0, 110, 255);
  background-image: url("../../images/icon-paper.svg");
}

.scissors {
  border-color: rgb(255, 221, 0);
  background-image: url("../../images/icon-scissors.svg");
}

.rock {
  border-color: rgb(255, 47, 0);
  background-image: url("../../images/icon-rock.svg");
}

.rock::after {
  rotate: 55deg;
  left: 0.125rem;
  top: 12.5rem;
}

.paper::after {
  rotate: -55deg;
  right: 0.125rem;
  top: 12.5rem;
}

.scissors::after {
  top: 5.3125rem;
  left: 3.75rem;
}

.play-again {
  all: initial;
  border-radius: 0.625rem;
  height: 1.875rem;
  background-color: white;
  width: 7.5rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.0938rem;
  cursor: pointer;
}

.vs {
  flex-direction: column;
}

.rockPick {
  border-color: rgb(255, 47, 0);
  background-image: url(../../images/icon-rock.svg);
}

.paperPick {
  border-color: rgb(0, 110, 255);
  background-image: url(../../images/icon-paper.svg);
}

.scissorsPick {
  border-color: rgb(255, 221, 0);
  background-image: url(../../images/icon-scissors.svg);
}

.attribution {
  bottom: 0;
  position: absolute;
}

.result-div {
  display: none;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  animation: ouverture 2s forwards;
  animation-delay: 2.5s;
}
.result-div h2 {
  font-size: 100%;
  text-align: center;
}

.result-message-div {
  display: none;
  flex-direction: column;
  align-items: center;
  line-height: 3.125rem;
  margin: 0rem 1.875rem;
  animation: opacity 1s forwards;
}

.result-message {
  font-size: 1.875rem;
  font-weight: 900;
  font-stretch: condensed;
  letter-spacing: 0.125rem;
  text-align: center;
}

.computer-pick {
  opacity: 0%;
  animation: opacity 1s forwards;
  animation-delay: 1s;
}

.ripple {
  animation: ripple 1.5s infinite;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes ouverture {
  0% {
    width: 40%;
  }
  100% {
    width: 65%;
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2666666667), 0 0 0 0 rgba(255, 255, 255, 0.2666666667);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 40px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0);
  }
}/*# sourceMappingURL=style.css.map */